@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap');

.user-info-wrapper{
    width: 90%;
    margin: 0 auto;
    background-color: #D9D9D9;
    color: #4484CE;
    border-radius: 10px;
}

.user-info-wrapper .user-header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding:2%;

}

.user-info-wrapper .user-header-wrapper img {
    width:200px;
    height:200px;
    border-radius:50%;

}

.user-info-wrapper .user-header-wrapper span{
    color: #F19F4D;
    font-family: 'Courgette', cursive;
}

.tab-wrapper{
    width:90%;
    margin: 3% auto 0 auto;
    border: 1px solid gainsboro;
}

.tab-content-wrapper{
    margin: 2%;
    min-height:500px;
}

.tab-content-wrapper .label-text{
    font-size: 20px;
    font-weight: bolder;
}

.tab-content-wrapper p{
    font-size: 20px;
}


.interest-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  #4484CE;
    width: 175px;
    height: 50px;
    margin: 2%;
    border-radius:3px;
    color:  #4484CE;
    box-shadow: 2px 5px 8px rgba(0,0,0,0.2);
}

.dropdown-select{
    max-width: 300px;
}

.dropdown-select :only-child{
    max-width: 300px;
}

.delete-interest-button{
  
    position:relative;
    margin-left:5%;
    text-align: center;
    margin-top:-10px;
    width:25px;
    height:25px;
    box-shadow: 2px 5px 8px rgba(0,0,0,0.2);
    border-radius:3px;
    background-color:tomato;
    color:white;
}


.interest-buttons{
    width:140px;
    font-size:14px;
    margin:10px 10px 10px 0
}